<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Banarsidas Chandiwala Institute of Information Technology (BCIIT), Delhi , is a student centric institute where the faculty members follow the approach of providing qualitative education to their students. The only focus here is to work on the development and progress of the candidates. The candidates go through continuous evaluation for which weekly tests are conducted. Academics are not only the main focus here, competitive skills such as debates, quizzes; software development tests are given equal weightage.</p>
</body>
</html>